certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.7.2
dateparser==0.6.0
falcon==1.2.0
gunicorn==19.7.1
idna==2.5
jwt==0.5.2
pkg-resources==0.0.0
py==1.4.34
pyasn1==0.2.3
pycparser==2.17
PyJWT==1.5.0
pymongo==3.4.0
pytest==3.1.2
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2017.2
regex==2017.6.7
requests==2.18.1
rethinkdb==2.3.0.post6
ruamel.yaml==0.15.6
six==1.10.0
tzlocal==1.4
urllib3==1.21.1